





<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/head %>
</head>
<body class="container">

    <header>
        <% include ../views/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
        </div>

        <button id="scanBtn" class="btn-scan">Scan</button>

    </main>

    <footer>
        <% include ../views/footer %>
        <script src="/webapp.bundle.js" type="text/javascript"></script>

    </footer>

</body>
</html>