<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Miband</title>
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.5/css/mdb.min.css" rel="stylesheet">

</head>

<body>
    <div class="container" style="margin-top: 10px;">
        <div class="row">
          <div class="col-md-4" style="margin-top: 5px;">
            <button type="button" class="btn btn-primary btn-block" id="start"><i class="fab fa-bluetooth-b"
                style="margin-right: 7px;"></i> Kết nối</button>
          </div>
          <div class="col-md-4" style="margin-top: 5px;">
            <button type="button" class="btn btn-pink btn-block" id="startGetHR"><i class="fas fa-heartbeat" style="margin-right: 7px;"></i>
              Đo nhịp tim</button>
          </div>
          <div class="col-md-4" style="margin-top: 5px;">
            <button type="button" class="btn btn-deep-orange btn-block" id="stop"><i class="fas fa-paper-plane"
                style="margin-right: 7px;"></i> Lưu kết quả</button>
          </div>
        </div>
        
        <div class="row d-flex justify-content-center" style="margin-top: 50px;">
          <div class="col-md-8">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Kết quả</h5>
                <p class="card-text" id="output">
                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Copyright © 2019 Poro Team Enclave.</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    
</body>
<script>
$("#stop").click(function(){
  var data = $('#data').data();
  var myDataArray = [];
  $.each(data, function(key, val){
        myDataArray['data-' + key] = val;
  });
  console.log(data);
  var request = $.post(document.URL,{
    heart_rate: document.getElementById('data').innerHTML
  });
  alert('Đã lưu kết quả');
  request.done(function() {
    console.log('Connect thành công');
  });
}); 
</script>
<script src="../node_modules/chart.js/dist/Chart.bundle.min.js"></script>
<script src="/bundle.js" type="text/javascript"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js">
</script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.5/js/mdb.min.js"></script>


</html>